---
import '../styles/layout.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const site={
    title: "Summerside Community Choir",
    description: "Summerside Community Choir is PEI's longest-running community choir!",
}
const {pageTitle} = Astro.props
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/images/scclogo.png" />
      <link rel="apple-touch-icon image_src" href="/images/scclogo.png">
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
      <meta name="description" content={pageTitle}>
		<title>{pageTitle} | Summerside Choir</title>
      <meta property="og:type" content = "website">
      <meta property="og:title" content = {pageTitle}/>
      <meta property="og:description" content = {site.description}>
      <meta property="og:site_name" content={site.title}>
      <meta property="og:locale" content="en_CA">
	</head>
	<body>
      <style>
         .slogan{
            margin: 0 auto;
            background-color: #f4f4f4; 
            padding: 1em 1.5em;
            letter-spacing: 0.5px;
            text-align: center; 
            font-weight: 300;
            font-size: 1.15rem;
            line-height: 1.6em;
            margin-bottom: 1em;
         }
        
         main{
            margin: 0 auto;
            max-width: 1400px;
            padding: 0 1.0875rem 1.45rem;
         }
        
         
        </style>
		<Header/>
        <div class="slogan">
            Summerside Community Choir is the longest-running community choir on PEI!
        </div>  
        <main>
          <slot />
        </main>
        <Footer/>
	</body>
</html>


